@page
@model PageLoginWidgetModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <!-- Login -->
        <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
            <!-- Parallax Image -->
            <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-size-cover g-bg-bluegray-opacity-0_3--after" style="height: 140%; background-image: url(../../assets/img-temp/1920x1080/img2.jpg);"></div>
            <!-- End Parallax Image -->

            <div class="container g-pt-100 g-pb-20">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5 flex-md-unordered align-self-center g-mb-80">
                        <!-- Okta Widget Form -->
                        <form class="g-py-15">
                            <div id="okta-login-container"></div>
                        </form>
                        <!-- End Okta Widget Form -->
                    </div>

                </div>
            </div>
        </section>
        <!-- End Login -->
        <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>

    <div class="u-outer-spaces-helper"></div>

    <!-- JS Plugins Init. -->
    <script>
$(document).on('ready', function () {
            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });

        //Okta Signin Widget
        //TODO: Move to config
        oktaSignIn = new OktaSignIn({
            baseUrl: '@Model.baseUrl',
            clientId: '@Model.clientId',
            redirectUri: '@Model.redirectUri',
            logo: '@Model.logo',
            features: {
                passwordlessAuth: @Model.enableFactorSequencing
            },
            authParams: {
                issuer: '@Model.issuer',
                responseType: ['token', 'id_token'],
                scopes: ['openid', 'profile'],
                display: 'page'
            }
        });

        //START: Include on every login widget view
        //Get current session state
        oktaSignIn.session.get(function (res) {
            // Session exists, show logged in state.
            if (res.status === 'ACTIVE') {
                return;
            }
            // No session, show the login form
            oktaSignIn.renderEl(
                { el: '#okta-login-container' },
                function success(res) {
                    // Nothing to do in this case, the widget will automatically redirect
                    // the user to Okta for authentication, then back to this page if successful
                },
                function error(err) {
                    // handle errors as needed
                    console.error(err);
                }
            );
        });
                        //END: Include on every login widget view</script>
</body>

</html>
