@page
@model HomeDefaultModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <!--Consent Modal -->
        <div id="consentModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post">
                        <!-- Info Alert -->
                        <div align="center" class="alert alert-info alert-dismissible fade show" role="alert">
                            <h4 class="h5">
                                <i class="fa fa-info-circle"></i>
                                Terms and Conditions
                            </h4>
                            <hr />
                            <p class="g-mb-10">By clicking ACCEPT you agree to our terms and conditions outlined <a href="https://termly.io/resources/templates/terms-and-conditions-template/">here</a>.</p>
                            <p>Consent Version @Model.Consent_Version</p>
                            <hr />
                            <button asp-page-handler="SaveConsent" href="#" class="btn u-btn-teal btn-xs rounded-0">
                                <i class="fa fa-check-circle g-mr-2"></i>
                                Accept
                            </button>
                            <a href="https://www.okta.com" class="btn u-btn-lightred btn-xs rounded-0">
                                <i class="fa fa-times-circle g-mr-2"></i>
                                Decline
                            </a>
                        </div>
                        <!-- End Info Alert -->
                    </form>
                </div>
            </div>
        </div>
        <!--END Consent Modal -->
        <!-- Promo Block -->
        <section class="g-pos-rel">
            <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
                <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-bluegray-opacity-0_2--after" style="height: 120%; background-image: url(@Model.DemoLauncher_JumboImageUri);"></div>

                <div class="container g-bg-cover__inner g-py-150--md">
                    <div class="row align-items-center">
                        <div class="col-lg-6 g-mb-30 g-mb-0--lg">
                            <h2 class="h1 text-uppercase g-color-white g-mb-30">
                                <span class="g-bg-primary-dark-v3 g-px-5">@Model.DemoLauncher_IntroBlurb_Title</span><br>
                            </h2>
                            <h3 class="h4 g-color-white">
                                <span class="g-bg-black-opacity-0_6 g-px-5">@Model.DemoLauncher_IntroBlurb</span><br>
                            </h3>
                        </div>
                        <div class="col-lg-6">
                            <!-- Vimeo Example -->
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="@Model.DemoLauncher_VideoUri" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <!-- End Vimeo Example -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Promo Block -->
        <!-- Icon Blocks -->
        <section class="g-py-100">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
                        <!-- Icon Blocks -->
                        <div class="text-center">
                            <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                                <i class="icon-communication-081 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">@Model.DemoLauncher_BodyBlurb1_Title</h3>
                            <p class="mb-0">@Model.DemoLauncher_BodyBlurb1</p>
                            <a href="@Model.DemoLauncher_BodyBlurb1_HyperLink_Url">@Model.DemoLauncher_BodyBlurb1_HyperLink_Text</a>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
                        <!-- Icon Blocks -->
                        <div class="text-center">
                            <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                                <i class="icon-finance-086 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">@Model.DemoLauncher_BodyBlurb2_Title</h3>
                            <p class="mb-0">@Model.DemoLauncher_BodyBlurb2</p>
                            <a href="@Model.DemoLauncher_BodyBlurb2_HyperLink_Url">@Model.DemoLauncher_BodyBlurb2_HyperLink_Text</a>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
                        <!-- Icon Blocks -->
                        <div class="text-center">
                            <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                                <i class="icon-communication-057 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">@Model.DemoLauncher_BodyBlurb3_Title</h3>
                            <p class="mb-0">@Model.DemoLauncher_BodyBlurb3</p>
                            <a href="@Model.DemoLauncher_BodyBlurb3_HyperLink_Url">@Model.DemoLauncher_BodyBlurb3_HyperLink_Text</a>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Icon Blocks -->

        <hr class="g-brd-gray-light-v4 my-0">

        <!-- Our Services -->
        <section class="g-py-100">
            <div class="container">
                <header class="text-center g-width-60x--md mx-auto g-mb-50">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Our Services</h2>
                    </div>
                    <p class="g-font-size-16"></p>
                </header>

                <div class="row justify-content-center g-mb-20">
                    <div class="col-md-6 col-lg-4 g-mb-50 g-mb-0--lg">
                        <!-- Services -->
                        <div class="u-shadow-v28 g-bg-white text-left text-md-center rounded g-py-40">
                            <!-- Services - Header -->
                            <header class="text-center g-px-30 mb-5">
                                <div class="g-mb-25">
                                    <span class="u-icon-v2 u-icon-size--md g-brd-gray-light-v4 g-color-primary rounded-circle">
                                        <i class="icon-finance-211 u-line-icon-pro"></i>
                                    </span>
                                </div>
                                <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Developer</h2>
                                <p class="g-font-size-13">A free tier environemnt meant for developers</p>
                            </header>
                            <!-- End Services - Header -->
                            <!-- Services - List -->
                            <ul class="list-unstyled mb-0">
                                <li class="d-flex align-items-center g-px-35 g-py-15">
                                    <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                                    </svg>
                                    <span class="g-color-text ml-3">Up to 50k MAU's'</span>
                                </li>
                                <li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
                                    <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                                    </svg>
                                    <span class="g-color-text ml-3">5 OIDC Clients</span>
                                </li>
                                <li class="d-flex align-items-center g-px-35 g-py-15">
                                    <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                                    </svg>
                                    <span class="g-color-text ml-3">Support over Email</span>
                                </li>
                                <li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
                                    <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                                    </svg>
                                    <span class="g-color-text ml-3">Authentication</span>
                                </li>
                                <li class="d-flex align-items-center g-px-35 g-py-15">
                                    <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                                    </svg>
                                    <span class="g-color-text ml-3">Authorization</span>
                                </li>
                                <li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
                                    <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                                    </svg>
                                    <span class="g-color-text ml-3">User Management</span>
                                </li>
                                <li class="d-flex align-items-center g-px-35 g-py-15">
                                    <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                                    </svg>
                                    <span class="g-color-text ml-3">Basic MFA</span>
                                </li>
                                <li class="d-flex align-items-center u-shadow-v19 g-bg-secondary g-px-35 g-py-15">
                                    <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                                    </svg>
                                    <span class="g-color-text ml-3">Customize Email Templates</span>
                                </li>
                                <li class="d-flex align-items-center g-px-35 g-py-15">
                                    <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                                    </svg>
                                    <span class="g-color-text ml-3">Customize Okta Widget</span>
                                </li>
                            </ul>
                            <!-- End Services - List -->
                        </div>
                        <!-- End Services -->
                    </div>

                    <div class="col-md-6 col-lg-4 g-mb-50 g-mb-0--lg">
                        <!-- Services -->
                        <div class="u-shadow-v29 g-bg-primary text-left text-md-center rounded g-py-40">
                            <!-- Services - Header -->
                            <header class="text-center g-px-35 mb-5">
                                <div class="g-mb-25">
                                    <span class="u-icon-v3 u-icon-size--md g-color-text g-bg-secondary rounded-circle">
                                        <i class="icon-finance-257 u-line-icon-pro"></i>
                                    </span>
                                </div>
                                <h2 class="h5 g-color-white g-font-weight-600">One App</h2>
                                <p class="g-color-white-opacity-0_9 g-font-size-13">A full featured solution for one web applicaiton / project. Includes all features from the developer license.</p>
                            </header>
                            <!-- End Services - Header -->
                            <!-- Services - List -->
                            <ul class="list-unstyled g-color-white-opacity-0_8 mb-0">
                                <li class="d-flex align-items-center g-px-35 g-py-15">
                                    <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#fff"></path>
                                    </svg>
                                    <span class="ml-3">Unlimited MAU's'</span>
                                </li>
                                <li class="d-flex align-items-center u-shadow-v19 g-bg-white-opacity-0_1 g-px-35 g-py-15">
                                    <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#fff"></path>
                                    </svg>
                                    <span class="ml-3">Full Support</span>
                                </li>
                                <li class="d-flex align-items-center g-px-35 g-py-15">
                                    <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#fff"></path>
                                    </svg>
                                    <span class="ml-3">Add-on products Available</span>
                                </li>
                                <li class="d-flex align-items-center u-shadow-v19 g-bg-white-opacity-0_1 g-px-35 g-py-15">
                                    <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#fff"></path>
                                    </svg>
                                    <span class="ml-3">Service Level Assurance</span>
                                </li>
                            </ul>
                            <!-- End Services - List -->
                        </div>
                        <!-- End Services -->
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <!-- Services -->
                        <div class="u-shadow-v28 g-bg-white text-left text-md-center rounded g-py-40">
                            <!-- Services - Header -->
                            <header class="text-center g-px-35 mb-5">
                                <div class="g-mb-25">
                                    <span class="u-icon-v2 u-icon-size--md g-brd-gray-light-v4 g-color-primary rounded-circle">
                                        <i class="icon-communication-164 u-line-icon-pro"></i>
                                    </span>
                                </div>
                                <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Enterprise</h2>
                                <p class="g-font-size-13">An enterprise ready platform without restrictions. Includes all features of the developer and one app license.</p>
                            </header>
                            <!-- End Services - Header -->
                            <!-- Services - List -->
                            <ul class="list-unstyled mb-0">
                                <li class="d-flex align-items-center g-px-35 g-py-15">
                                    <svg class="g-fill-primary" width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#72c02c"></path>
                                    </svg>
                                    <span class="g-color-text ml-3">Unlimited OIDC and SAML applications</span>
                                </li>
                            </ul>
                            <!-- End Services - List -->
                        </div>
                        <!-- End Services -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Services -->

        <hr class="g-brd-gray-light-v4 my-0">

        <!-- Our Recent Projects -->
        <section class="g-py-100">
            <div class="container">
                <header class="g-mb-50">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Leading businesses are more efficient and secure with Okta</h2>
                    </div>
                    <p class="g-font-size-16">With over 6,000+ integrations, there's a good chance we can connect anyone that touches your organization to any technology they want to use. But what really sets us apart is the depth of our integrations. Explore how SAML, automated provisioning, and security analytics can make the apps you already use even better.</p>
                </header>

                <div class="row">
                    <div class="col-lg-4 col-md-6 g-mb-30 g-mb-0--lg">
                        <article class="u-block-hover u-shadow-v21 rounded">
                            <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                                <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/Customers/2019MQ.jpg" alt="Image description">
                            </figure>

                            <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                                <h3 class="h4">
                                    <a class="g-color-white" href="#">2019 Magic Quadrant for Access Management</a>
                                </h3>
                                <p>We've done it again! Okta ranked as a leader in the Magic Quadrant for Access Management. See the report here.</p>
                            </header>

                            <ul class="list-inline u-bg-overlay__inner g-pos-abs g-bottom-10 g-left-30 g-opacity-0_8">
                                <li class="list-inline-item">
                                    <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                        <img class="g-width-30 g-height-30 rounded-circle" src="../../assets/img-temp/100x100/img12.jpg" alt="Image description">
                                    </div>
                                </li>
                                <li class="list-inline-item g-ml-minus-20">
                                    <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                        <img class="g-width-30 g-height-30 rounded-circle" src="../../assets/img-temp/100x100/img5.jpg" alt="Image description">
                                    </div>
                                </li>
                                <li class="list-inline-item g-ml-minus-20">
                                    <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                        <img class="g-width-30 g-height-30 rounded-circle" src="../../assets/img-temp/100x100/img7.jpg" alt="Image description">
                                    </div>
                                </li>
                                <li class="list-inline-item g-font-weight-600 g-color-white">+21</li>
                            </ul>
                        </article>
                    </div>

                    <div class="col-lg-4 col-md-6 g-mb-30 g-mb-0--lg">
                        <article class="u-block-hover u-shadow-v21 rounded">
                            <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                                <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/400x270/img13.jpg" alt="Image description">
                            </figure>

                            <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                                <h3 class="h4">
                                    <a class="g-color-white" href="#">Product Demos</a>
                                </h3>
                                <p>Wondering what Okta can do for your business? Visit our library of demo videos to find out.</p>
                            </header>

                            <ul class="list-inline u-bg-overlay__inner g-pos-abs g-bottom-10 g-left-30 g-opacity-0_8">
                                <li class="list-inline-item">
                                    <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                        <img class="g-width-30 g-height-30 rounded-circle" src="../../assets/img-temp/100x100/img7.jpg" alt="Image description">
                                    </div>
                                </li>
                                <li class="list-inline-item g-ml-minus-20">
                                    <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                        <img class="g-width-30 g-height-30 rounded-circle" src="../../assets/img-temp/100x100/img4.jpg" alt="Image description">
                                    </div>
                                </li>
                                <li class="list-inline-item g-ml-minus-20">
                                    <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                        <img class="g-width-30 g-height-30 rounded-circle" src="../../assets/img-temp/100x100/img5.jpg" alt="Image description">
                                    </div>
                                </li>
                                <li class="list-inline-item g-font-weight-600 g-color-white">+42</li>
                            </ul>
                        </article>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <article class="u-block-hover u-shadow-v21 rounded">
                            <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                                <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/Customers/Okta_CIAM.png" alt="Image description">
                            </figure>

                            <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                                <h3 class="h4">
                                    <a class="g-color-white" href="#">Build Seamless Customer Experiences</a>
                                </h3>
                                <p>Transform your business with modern, digital experiences your customers demand.</p>
                            </header>

                            <ul class="list-inline u-bg-overlay__inner g-pos-abs g-bottom-10 g-left-30 g-opacity-0_8">
                                <li class="list-inline-item">
                                    <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                        <img class="g-width-30 g-height-30 rounded-circle" src="../../assets/img-temp/100x100/img5.jpg" alt="Image description">
                                    </div>
                                </li>
                                <li class="list-inline-item g-ml-minus-20">
                                    <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                        <img class="g-width-30 g-height-30 rounded-circle" src="../../assets/img-temp/100x100/img7.jpg" alt="Image description">
                                    </div>
                                </li>
                                <li class="list-inline-item g-ml-minus-20">
                                    <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                        <img class="g-width-30 g-height-30 rounded-circle" src="../../assets/img-temp/100x100/img6.jpg" alt="Image description">
                                    </div>
                                </li>
                                <li class="list-inline-item g-font-weight-600 g-color-white">+15</li>
                            </ul>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Recent Projects -->
        <!-- Most Quality Solution -->
        <section class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
            <!-- Parallax Image -->
            <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-white-opacity-0_7--after" style="height: 140%; background-image: url(../../assets/img-temp/1920x1080/img7.jpg);"></div>
            <!-- End Parallax Image -->

            <div class="container u-bg-overlay__inner g-py-150--md g-py-80">
                <div class="row">
                    <!-- Section Content -->
                    <div class="col-lg-6 order-2 order-sm-1 g-mb-0 g-mb-50--sm g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                            <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Single Best Identity Platform</h2>
                        </div>
                        <p class="g-font-size-16 g-line-height-2 g-mb-30">Okta makes authentication straightforward. Connect your apps, choose an identity provider (or use ours), add users, configure rules, customize your login page, and then gain insights from our built in reports.</p>

                    </div>
                    <!-- End Section Content -->
                    <!-- Video Icon -->
                    <div class="col-lg-6 order-1 order-sm-2 align-self-center text-center g-pos-rel g-mb-40 g-mb-0--sm">
                        <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-src="//vimeo.com/201922522" data-speed="350" data-caption="Lightbox Gallery">
                            <span class="u-icon-v3 u-icon-size--xl u-block-hover--scale u-shadow-v24 g-bg-white g-color-gray-dark-v1 g-color-primary--hover g-font-size-20 rounded-circle g-cursor-pointer g-mb-10">
                                <i class="fa fa-play g-pos-rel g-left-2"></i>
                            </span>
                        </a>
                        <p class="g-color-gray-dark-v5">Watch our 2 min video.</p>
                    </div>
                    <!-- End Video Icon -->
                </div>
            </div>
        </section>
        <!-- End Most Quality Solution -->
        <!-- Counters -->
        <section class="g-brd-top g-brd-bottom g-brd-gray-light-v4 g-pt-50">
            <div class="container">
                <div class="row text-center text-uppercase">
                    <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
                        <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">99.99%</div>
                        <h4 class="h6 g-color-gray-dark-v5">Up Time</h4>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-brd-right--lg g-brd-gray-light-v4 g-mb-50">
                        <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">6000+</div>
                        <h4 class="h6 g-color-gray-dark-v5">Pre-built Integrations</h4>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
                        <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">6550+</div>
                        <h4 class="h6 g-color-gray-dark-v5">Happy Customers</h4>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">10</div>
                        <h4 class="h6 g-color-gray-dark-v5">Years of Service</h4>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Counters -->
        <!-- Latest News -->
        <section class="g-py-100">
            <div class="container">
                <header class="text-center g-width-60x--md mx-auto g-mb-50">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Meet our thousands of customers</h2>
                    </div>
                    <p class="g-font-size-16">We make customers successful by enabling them to securely use the best technologies for their business.</p>
                </header>

                <div class="row">
                    <div class="col-lg-4 g-mb-30">
                        <!-- Article -->
                        <article class="u-shadow-v21 g-bg-white rounded">
                            <div class="g-pa-30">
                                <h3 class="g-font-weight-300 g-mb-15">
                                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="https://www.okta.com/customers/adobe-systems">Adobe uses Okta to connect thousands of creatives and employees to the cloud</a>
                                </h3>
                                <p>Adobe's IT and product leaders explain how the company used Okta as an authentication layer for both internal employees and for Adobe Creative Cloud.</p>
                            </div>

                            <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">


                                <div class="align-self-center">
                                    <a class="u-link-v5 g-color-main g-color-primary--hover g-mr-10" href="#">
                                        <i class="icon-bubbles align-middle g-mr-3"></i> 24
                                    </a>
                                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">
                                        <i class="icon-eye align-middle g-mr-3"></i> 108
                                    </a>
                                </div>
                            </div>
                        </article>
                        <!-- End Article -->
                    </div>

                    <div class="col-lg-4 g-mb-30">
                        <!-- Article -->
                        <article class="u-shadow-v21 g-bg-white rounded">
                            <div class="g-pa-30">
                                <h3 class="g-font-weight-300 g-mb-15">
                                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="https://www.okta.com/customers/twentieth-century-fox">For 20th Century Fox: Connecting thousands of employees and hundreds of partners</a>
                                </h3>
                                <p>While Okta handles identity, Twentieth Century Fox focuses on creating and distributing great content.</p>
                            </div>

                            <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">

                                <div class="align-self-center">
                                    <a class="u-link-v5 g-color-main g-color-primary--hover g-mr-10" href="#">
                                        <i class="icon-bubbles align-middle g-mr-3"></i> 16
                                    </a>
                                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">
                                        <i class="icon-eye align-middle g-mr-3"></i> 124
                                    </a>
                                </div>
                            </div>
                        </article>
                        <!-- End Article -->
                    </div>

                    <div class="col-lg-4 g-mb-30">
                        <!-- Article -->
                        <article class="u-shadow-v21 g-bg-white rounded">
                            <div class="g-pa-30">
                                <h3 class="g-font-weight-300 g-mb-15">
                                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="https://www.okta.com/customers/engie">ENGIE leads the world to a sustainable future. Okta plays a critical role.</a>
                                </h3>
                                <p>ENGIE Group Digital and IT Department was tasked with developing an infrastructure to support the global transition of 150,000 employees on a short timeline. Hear ENGIE’s Deputy Group CIO Claude Pierre and Chief Infrastructure Officer Youssef Tahani detail how they connected 24 business units globally, while facilitating adaptation and innovation at the local level.</p>
                            </div>

                            <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">


                                <div class="align-self-center">
                                    <a class="u-link-v5 g-color-main g-color-primary--hover g-mr-10" href="#">
                                        <i class="icon-bubbles align-middle g-mr-3"></i> 41
                                    </a>
                                    <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">
                                        <i class="icon-eye align-middle g-mr-3"></i> 219
                                    </a>
                                </div>
                            </div>
                        </article>
                        <!-- End Article -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Latest News -->
        <!-- Call To Action -->
        <section class="g-bg-primary g-color-white g-pa-30" style="background-image: url(../../assets/img/bg/pattern5.png);">
            <div class="d-md-flex justify-content-md-center text-center">
                <div class="align-self-md-center">
                    <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">JOIN 6,500+ ORGANIZATIONS ON THE OKTA IDENTITY CLOUD</p>
                </div>
                <div class="align-self-md-center">
                    <a class="btn btn-lg u-btn-white text-uppercase g-font-weight-600 g-font-size-12" target="_blank" href="https://www.okta.com/free-trial/">Try Okta</a>
                </div>
            </div>
        </section>
        <!-- End Call To Action -->
        <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>

    <div class="u-outer-spaces-helper"></div>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of text animation (typing)
            $(".u-text-animation.u-text-animation--typing").typed({
                strings: [
                    "an awesome template",
                    "perfect template",
                    "just like a boss"
                ],
                typeSpeed: 60,
                loop: true,
                backDelay: 1500
            });
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });

        $(window).on('load', function () {
            var consentRequired = @(Model.Consent_Required.ToString().ToLower());
            if (consentRequired) {
                $('#consentModal').modal('show');
            }
        });

    </script>
</body>

</html>